/*@font-face {
font-family: 'dkkwark';
src: url('fonts/abc-font.eot'); /* IE9 Compat Modes */
src: url('fonts/abc-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/abc-font.woff') format('woff'), /* Modern Browsers */
     url('fonts/abc-font.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('fonts/abc-font.svg#svgFontName') format('svg') /* Legacy iOS */
}*/
* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue','Helvetica',arial,sans-serif;;
}
html, body {
  height: 100%;
  position: relative;
  background-color: #fff;
}
body {
  padding-bottom: 60px;
}
.brand {
  position: absolute;
  left: 33.5%;
  top: 3px;
  z-index: 2;
  font-size: 4.5em;
  color: #66465E;

  -webkit-text-stroke: 1px #666;
/*   text-shadow:
       3px 3px 0 #666,
     -1px -1px 0 #666,
      1px -1px 0 #666,
      -1px 1px 0 #666,
       1px 1px 0 #666;*/
}
.container {
  height: 80%;
  width: 60%;
  padding: 3%;
  background-image: linear-gradient( to bottom right, #C8C8A9, #83AF9B);
  opacity: 0.85;
  position: absolute;
  top: 10%;
  left: 20%;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #bfbfbf;
}
.form-control{
  position: absolute;
  width: 70.5%;
  bottom: 3.5%;
}
.bot {
  color: #004852;
}
li {
  color: #66465E;
}
ul {
  list-style: none;
  padding-left: 0;
}
.msgs {
  background-color: #efefef;
  height: 430px;
  margin-left: 15px;
  border-radius: 6px;
  overflow-y: auto;
  padding-top: 10px;
}
.rooms {
  text-align: right;
  width: 20%;
}
.rooms li {
  color: #fff;
}